.u-center-text {text-align: center !important;} // utiyiy class which has got one simply goal here center text, wrapped chil elelmnt into a parent element

.u-margin-bottom-small {margin-bottom: 1.5rem !important;} //important - we really want to ahppen whatever we say in one of these classes
.u-margin-bottom-medium {margin-bottom: 4rem !important;}
.u-margin-bottom-big {margin-bottom: 8rem !important;}

.u-margin-top-big {margin-top: 8rem !important;}
.u-margin-top-huge {margin-top: 10rem !important;}