.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; //the same like parent
    width: 100%; 
    z-index: -1; //behind all elements
    opacity: .15;

    &__content { // dispose of oveflowing video
        height: 100%;
        width: 100%;
    }
}