.feature-box {
    background-color: rgba($color-white, .8); // 80% of it to be white with an opacity of 20%
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    transform: skewY(-7deg);

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block; // want to block element will take less tjan 100% width so change as inline-block
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark); //move color form light till dark color
    -webkit-background-clip: text; //gradient behind the text
    color: transparent;  //to see gradient color of text
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}