.form {
    &__group {

    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem; //always a littl;e bit more on the sides
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
    }

    &__label {

    }
}