.popup {
    height: 100vh;
    width: 100%;
    position: fixed; //doesn't move as we scroll
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999; //really on top of entire page
    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table; //the browser give them the same height "tablecells"
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%,-50%) scale(.5);
    transition: all .4s .2s;
 }

    &__left {
        width: 33.333333%; //1/3
        display: table-cell;// float: left;
    }

    &__right {
        width: 66.666667%; //together 100% give
        display: table-cell;// float: left;
        vertical-align: middle; //we can use in table cell
        padding: 3rem 5rem;
    }   

    &__img {
        display: block;
        width: 100%;    
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; 
        -moz-column-rule: 1px solid $color-grey-light-2; 
        column-gap: 4rem; //1em = 14px (font size current elem)
        column-rule: 1px solid $color-grey-light-2; // sth llike the border between two col
        
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; //hyphenations
    }

    //Open states
    &:target { //the target is on this popup here
        opacity: 1;
        visibility: visible;
    } // btn popup click, it gets added to the URL of the page, so #popup becomes the target
    //since popup has id popup the target is basically this entire elelement; the pseudoclass called target is available on it
    
    &:target &__content { //popup here becomes the target and then we sipmly style the child elelm of the popup which is called popup conetnet
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute; //relative to popup conetnet 
            top: 2.5rem;
            right: 2.5rem; //top right corner
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        :hover {
            color: $color-primary;
        }
    }

}