.navigation {
    &__checkbox {
        display: nome;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000; //button should always be on top
        box-shadow: 0 1rem 3rem rgba($color-black, .1); //to hide bacjfground and button and first we have to add some shadow
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed; //very similiar to posit absolute; fixed doesnt change position as we scroll the page, also takes tle elemen out of the flow&allows to specify it in relarion to a positioned elem
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark); //starts in the middle of an element& goes from there on all the outside directions basically 
        z-index: 1000; //position should be defined; now stays on the top this circle of everythiong all the toime
        transition: transform .8s;
        // transform: scale(80);//scale the entire background
    }

    &__nav {
        height: 100vh;
        // width: 100%; //its block elem and automacilly occupies 100% of its width
        position: fixed; //nav open will stay on the same place
        top: 0;
        right: 0;
        z-index: 1500; //nav should be on top of the background

        opacity: 0;
        width: 0;
        transition: opacity .8s;

    }

    &__list { //center of the nav container
        @include center-horizontal-vertical;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {  //move entire gardient to yhe l;eft side the we end up with the effect taht we want
            background-position: 100%; //entire thing usually means 100%; the background basicallky shofts to the left side because the position is now at 100%
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background { //we hit label and then checkbox becomens checked & then we want the nav backg here//general sibling use
        transform: scale(80);

    }

    &__checkbox:checked ~ &__nav { //the same we dow with the nav
        opacity: 1; //hide background cont. ; we move here
        width: 100%; // above the text nav gone ; we hit nthe nav & hit background; 

    }
}
