.navigation {
    &__checkbox {
        display: nome;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000; //button should always be on top
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed; //very similiar to posit absolute; fixed doesnt change position as we scroll the page, also takes tle elemen out of the flow&allows to specify it in relarion to a positioned elem
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark); //starts in the middle of an element& goes from there on all the outside directions basically 
        z-index: 1000; //position should be defined; now stays on the top this circle of everythiong all the toime
    }

    &__nav {
        height: 100vh;
        width: 100%; //its block elem and automacilly occupies 100% of its width
        position: fixed; //nav open will stay on the same place
        top: 0;
        right: 0;
        z-index: 1500; //nav should be on top of the background
    }

    &__list { //center of the nav container
        @include enter-horoizntal-vertical;
    }

    &__item {
        
    }

    &__link {

    }
}
